{
  "env": {
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "templateStrings": true,
    "arrowFunctions": true,
    "blockBindings": true,
    "forOf": true
  },
  "extends": "eslint:recommended",
  "rules": {
  }
}